<body>
    
    <canvas id="myCanvas" width="600" height="600"></canvas>
        Your browser does not support the HTML5 canvas tag.
        Please upgrade your browser to use this website.
    </canvas>
    
    <table width='100%'>
    <tr>
        <td><form></form><button onclick="displayImage()">Display Image</button></form></td>
        <td><form><button onclick="clearCanvas()">Clear Canvas</button></form></td> 
        <td><form><button id="download">Download</button></form></td>
        <td><form><button onclick="undo()">Undo</button></form></td>
        <td><form><button onclick="redo()">Redo</button></form></td>
        <td><form><button onclick="save()">Save</button></form></td> 
    </tr>
    <tr>
        <td><form><button onclick="brushType='Pen'">Pen</button></form></td> 
        <td><form><button onclick="brushType='Eraser'">Eraser</button></form></td>
        <td><form><button onclick="brushType='Line'">Line</button></form></td>
        <td><form><button onclick="brushType='Rectangle'">Rectangle</button></form></td>
        <td><form><button onclick="brushType='Circle'">Circle</button></form></td>
        <td><form><button onclick="brushType='Heart'">Heart</button></form></td>
        <td><form><button onclick="brushType='Star'">Star</button></form></td>
        <td><form><button onclick="brushType='Triangle'">Triangle</button></form></td>
    </tr>
    </table>
</body>
