
    <canvas id="myCanvas" width="600" height="600">
        Your browser does not support the HTML5 canvas tag.
        Please upgrade your browser to use this website.
    </canvas>
    
    <table width='100%'>
    <tr>
        <td><form><button onclick="DisplayImage()">Display Image</button></form></td>
        <td><form><button onclick="ClearCanvas()">Clear Canvas</button></form></td> 
        <td><form><button (click)="Download()">Download</button></form></td>
        <td><form><button (click)="Undo()">Undo</button></form></td>
        <td><form><button (click)="Redo()">Redo</button></form></td>
    </tr>
    <tr>
        <td><form><button (click)="switchTool('Pen')">Pen</button></form></td> 
        <td><form><button (click)="switchTool('Eraser')">Eraser</button></form></td>
        <td><form><button (click)="switchTool('Line')">Line</button></form></td>
        <td><form><button (click)="switchTool('Rectangle')">Rectangle</button></form></td>
        <td><form><button (click)="switchTool('Circle')">Circle</button></form></td>
        <td><form><button (click)="switchTool('Heart')">Heart</button></form></td>
        <td><form><button (click)="switchTool('Square')">Square</button></form></td>
        <td><form><button (click)="switchTool('Triangle')">Triangle</button></form></td>
    </tr>
    </table>
